.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    background-color: rgb(251, 251, 255);
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 20px;
    color: rgb(187, 186, 186);
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarLink{
    text-decoration: none;
    color: #555;
}

.sidebarListItem{
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, 
.sidebarListItem:hover {
    background-color: rgb(238, 230, 245);
    cursor: pointer;
}

.sidebarIcon{
    margin-right: 5px;
    font-style: 20px !important;
}